@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "../../../node_modules/sass-math/math";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Questrial', sans-serif; */
  font-family: "Inter", sans-serif;
}

:root {
  --sa-body-bg: #f8f9fd;

  --sa-color-primary: #42c0fb;
  --sa-color-secondary: #9ca7b1;
  --sa-color-success: #00c58df1;
  --sa-color-warning: #f6945f;
  --sa-color-danger: #f05d53;
  --sa-color-info: #29a7fc;
  --sa-color-success-2: #6ab55d;
  --sa-color-yellow: #edc842;
  --sa-color-red: #b00054;
  --sa-color-pink: #fb9ac8;
  --sa-color-light-purple: #da89ff;
  --sa-color-purple: #da89ff;
  --sa-color-black: #252525;
  --sa-color-light-blue: #e8f6fd;

  --sa-color-primary-hover: #14b4ff;
  --sa-color-secondary-hover: #787f86;
  --sa-color-success-hover: #00b380;
  --sa-color-danger-hover: #e73c2f;
  --sa-color-warning-hover: #f37c3b;
  --sa-color-info-hover: #0099ff;
  --sa-color-light-hover: #eeeeee;
  --sa-color-dark-hover: #3d3d3d;

  --sa-color-primary-light: #2e89b3;
  --sa-color-primary-light-2: #ecf9ff;
  --sa-bg-color-primary-light: #b2e6ff40;
  --sa-color-secondary-light: #5b5e60;
  --sa-bg-color-secondary-light: #9ca7b140;
  --sa-color-secondary-light-acc: #9ca7b133;
  --sa-color-secondary-light-hover: #9ca7b1;
  --sa-color-success-light: #009a6e;
  --sa-bg-color-success-light: #d4ffedd6;
  --sa-color-success-light-hover: #00c38c;
  --sa-color-danger-light: #c95148;
  --sa-bg-color-danger-light: #ffeae9;
  --sa-color-danger-light-hover: #f05d53;
  --sa-color-warning-light: #d07d50;
  --sa-bg-color-warning-light: #fff2eb;
  --sa-color-warning-light-hover: #f6945f;
  --sa-color-info-light: #008fee;
  --sa-bg-color-info-light: #e8f6ff;
  --sa-bg-color-black-light: #25252540;
  --sa-bg-color-light-light: #f8f9fa40;
  --sa-color-outline-light: #f8f9fa;

  --sa-form-focus: #124157;
  --sa-form-invalid: #ff5630;
  --sa-color-link: #007acc;
  --sa-color-icon: #8f9399;
  --sa-border-color: #d6d6d6;
  --sa-bg-red-icon-acc: #ffd2e7;
  --sa-bg-red-icon: #cf3f54;
  --sa-item-menu: #e8f6fd;

  --sa-sidebar-color: #42c0fb3c;
  --sa-sidebar-color-hover: #42c0fbdd;

  --sa-yellow-light: #faf9e8;
  --sa-black-blue: #233b46;

  --sa-form-wizard-line-width: 0%;
}

body {
  background-color: var(--sa-body-bg);
}

.icon {
  font-weight: 600;
}

.pos-sidebar {
  width: 130px;
  position: fixed;
  height: 100vh;
  background-color: #ffffff;
  padding: 2.5rem 0;
  transition: all 0.5s ease;

  &.active {
    margin-left: -130px;
  }

  .logo-wrapper {
    width: 100%;
    height: 50px;
    border-radius: 17px;
    background-color: transparent;
    padding: 0 1.25rem;
    display: flex;
    justify-content: center;
    margin-bottom: 3.5rem;

    img {
      &[type="svg"] {
        height: 38px;
      }

      &:not([type="svg"]) {
        height: 70px;
      }
    }
  }

  .menu-container {
    padding: 0 1.25rem;
    height: 90%;
    // overflow-y: scroll;

    // &::-webkit-scrollbar-thumb {
    //     background: transparent;
    //     border-radius: 35px;
    // }

    // &:hover::-webkit-scrollbar-thumb {
    //     background: #B1B9C5;
    // }
  }
}

.menus {
  .menus-wrapper {
    list-style-type: none;
    padding-left: 0;

    li {
      text-align: center;
      padding: 1rem 0.5rem;
      background-color: transparent;
      margin-bottom: 0.8rem;
      border-radius: 17px;
      cursor: pointer;

      &:not(.active):hover {
        background-color: #f3f3f366;
      }

      &.active {
        background-color: var(--sa-bg-color-primary-light);

        a {
          span,
          i {
            color: var(--sa-color-primary);
          }
        }
      }

      a {
        text-decoration: none;
        color: #ababab;
        font-size: 13px;
        font-weight: 600;

        i {
          text-align: center;
        }

        box-icon {
          width: 100%;
        }

        i {
          display: block;
          font-size: 36px;
          padding-bottom: 7px;
          color: #ababab;
        }
      }
    }
  }
}

.pos-content {
  width: calc(100% - 130px);
  margin-left: 130px;
  padding: 2rem;
  background-color: #f4fbfe;
  transition: all 0.5s ease;
  min-height: 100vh;

  &.active {
    margin-left: 0;
    width: 100%;
  }

  i {
    font-size: 22px;
  }

  .navbar {
    position: relative;
    gap: 2.7rem;

    .navbar-icon {
      display: none;

      i {
        font-size: 26px;
        vertical-align: middle;
      }
    }

    .input-group-right {
      width: 350px;

      input {
        width: 100%;
      }
    }
  }
}

.fries-menu {
  display: inline-block;
  cursor: pointer;
}

.navbar-icon .features {
  display: inline-flex;
  gap: 0.5rem;
  justify-items: flex-end;
}

.feature {
  position: relative;
  padding: 3px 5px;
  cursor: pointer;

  span {
    top: 17%;
    left: 77%;
  }
}

.searchbox {
  display: block;
}

.search-mobile {
  display: none;
}

.input-group-right,
.input-group-left {
  position: relative;
  width: 100%;
}

.input-group-w-text {
  position: absolute;
  left: 0;
  padding: 0.4rem 0.8rem;
  color: var(--sa-color-icon);
  border-right: 1px solid #ced4da;
}

.input-group-icon {
  color: var(--sa-color-icon);
  padding: 0.5rem 0.5rem;
  border: none;
  background-color: transparent;
}

.input-group-left {
  .input-group-icon {
    position: absolute;
    left: 0;
  }
}

.input-group-right {
  .input-group-icon {
    position: absolute;
    right: 0.3rem;
    cursor: pointer;
    display: inline-flex;
  }
}

.input-w-icon-left {
  padding-left: 37px !important;
}

.input-w-icon-right {
  padding-right: 40px !important;
}

.input-w-text-left {
  padding-left: 3.7rem !important;
}

.form-control {
  font-weight: 500 !important;
  color: #344050 !important;
  border-radius: 7.5px !important;

  &:disabled,
  &[type="file"]:not(:disabled):not([readonly]) {
    cursor: pointer;
    font-size: 14px;
    color: var(--sa-color-black);
  }

  &::placeholder {
    font-size: 14px;
    color: #bdc4d1 !important;
  }

  &:focus {
    border: 1px solid var(--sa-color-primary) !important;
    box-shadow: none !important;
    color: var(--sa-form-focus) !important;
  }
}

.content-wrapper {
  position: relative;
  padding-bottom: 2rem;

  .categories-btn-control {
    // float: right;
    // transform: translate(-388px, -120px);
    position: absolute;
    left: calc(100% - 500px);
    top: -8px;

    button {
      background-color: #ffffff;

      &:hover {
        background-color: var(--sa-color-primary);
        color: #ffffff;
      }

      &:not(:last-of-type) {
        margin-right: 0.5rem;
      }

      i {
        font-size: 23px;
      }

      box-icon {
        vertical-align: top;
      }
    }
  }
}

.section-title {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
  color: #344050;
  margin-bottom: 0.8rem;
}

.categories-list {
  display: flex;
  gap: 2rem;
}

.categories-list .category {
  min-width: 188px;
  height: 72px;
  display: flex;
  background-color: #ffffff;
  border-radius: 17px;
  cursor: pointer;
  padding: 14px;
  gap: 1rem;
  border: 0 solid transparent;
  box-shadow: 1px 1px 7px rgba(154, 154, 204, 0.1);
}

.category .category-img-wrap {
  width: 43px;
  height: 43px;
  background-color: #f4f5f9;
  border-radius: 12px;
  text-align: center;
  align-content: center;

  & > * {
    padding: 9px;
  }

  & > *:not(img) {
    padding: 9px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.category .category-detail p {
  margin-bottom: 0;
}

.category-detail .category-title {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  color: #344050;
}

.category-detail .category-sub-title {
  text-transform: lowercase;
  font-size: 12px;
  font-weight: 600;
  color: #909ba5;
}

.category {
  &.active {
    background-color: var(--sa-color-primary);

    .category-img-wrap {
      background-color: #ffffff;

      i {
        color: var(--sa-color-primary);
      }
    }
  }
}

.category.active .category-detail .category-title,
.category.active .category-detail .category-sub-title {
  color: #ffffff;
}

.product-row {
  gap: 2rem;
  flex-wrap: wrap;
  width: calc(100% - 370px);
}

.products-content {
  width: calc(100% - 410px);

  .card {
    width: 188px;
    height: 225px;
    justify-items: center;
    cursor: pointer;
    text-align: center;

    .card-body {
      align-content: center;
      padding: 8px 16px 24px 16px !important;
    }
  }
}

.lists-content {
  width: calc(100% - 410px);

  .card {
    width: 100%;
    height: 100%;
    // justify-items: center;
    cursor: pointer;
    // text-align: center;
  }
}

.card {
  border-radius: 17px !important;
  border: 0 solid transparent !important;
  box-shadow: 1px 1px 7px rgba(154, 154, 204, 0.1) !important;

  .card-title {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    color: #344050;
  }

  .card-body .card-text {
    font-size: 14px;
    color: var(--sa-color-primary);
    font-weight: 600;
  }
}

.card:hover,
.categories-list .category:hover {
  border: 0 solid transparent !important;
  box-shadow: 1px 1px 12px 7px rgba(174, 174, 232, 0.1) !important;
}

.card-img-container {
  padding: 26px 26px 13px 26px;
  height: 150px;
}

.card-img-wrap {
  height: 100%;
  background: url("../images/—Pngtree—four pieces of white organic_5536942 1.png")
    no-repeat;
  background-size: contain;
  background-position: center;
}

.card-img-top {
  height: 150px;
  width: 100%;
  height: 100%;
  padding: 23px 45px 0 45px;
}

.order-card-wrap {
  display: block;
  position: fixed;
  height: calc(100% - 4rem);
  right: 2.5rem;
  top: 2rem;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 1;

  .card {
    display: block;
    width: 370px;
    padding: 3rem 0 2rem 0 !important;
    height: 100%;
  }

  .mobile-btn {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    // display: inline-flex;
    gap: 0.3rem;
    padding: 1rem 1rem;
    align-items: center;
    cursor: pointer;


      i {
        font-size: 20px;
        color: var(--sa-color-primary);
      }

      p {
        font-size: 14px;
        color: #344050;
        margin-bottom: 0;
        font-weight: 500;
        color: var(--sa-color-primary);
      }
  }

  .hold-feature {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1.5rem;
    cursor: pointer;
  }

  .custom-select-opt {
    .same-as-select {
      height: 32px;
      font-size: 13px;
     
    }
  }
}

.order-top {
  padding: 0 1.5rem;
}

.order-border {
  border-top: 2px dashed #ababab;
  margin-top: 1rem;
  margin-bottom: 0;
}

.order-top .order-num-detail,
.order-top .order-date-detail,
.order-top .order-type {
  width: 100%;
  display: inline-flex;
  text-transform: capitalize;
  font-weight: 600;
  justify-content: space-between;
}

.order-top .order-type .custom-select-opt {
  min-width: 130px;
  max-width: 180px;
}

.order-num-detail p,
.order-date-detail p,
.order-type p {
  margin-bottom: 0;
}

.order-top {
  .order-num-detail {
    font-size: 20px;
    color: #344050;
    margin-bottom: 0.5rem;
  }

  .order-date-detail {
    margin-bottom: 0.5rem;
  }

  .order-date-detail,
  .order-type-label {
    color: #818181;
    font-size: 14px;
  }

  .order-type-label {
    align-self: center;
  }
}

.order-feature {
  padding: 1rem 1.5rem 0 1.5rem;

  .search-cust > * {
    display: none !important;

    &.active {
      display: flex !important;
    }
  }
}

.search-cust input {
  border-radius: 27px !important;
  font-size: 14px;
}

.modal-body > * {
  margin-bottom: 1.2rem;
}

.cust-category-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;

  .btn {
    font-size: 12px;
  }

  .wrapping-up {
    .btn:first-of-type {
      margin-right: 0.5rem;
    }
  }
}

.cust-category-wrap .wrapping-up button,
.payment-btn-wrap button {
  color: var(--sa-color-secondary-light);
  background-color: var(--sa-bg-color-secondary-light);
  border: 0.5px solid var(--sa-color-secondary-light-acc);
  border-radius: 27px;
}

.cust-category-wrap .wrapping-up button:hover,
.payment-btn-wrap button:hover {
  border-color: var(--sa-color-secondary-light-hover);
}

.cust-category-wrap .wrapping-up button.active,
.payment-btn-wrap button.active {
  color: var(--sa-color-primary) !important;
  background-color: var(--sa-bg-color-primary-light) !important;
  border: 0.5px solid var(--sa-bg-color-primary-light);
}

.cust-category-wrap .wrapping-up button.active:hover,
.payment-btn-wrap button.active:hover {
  border-color: var(--sa-color-primary);
}

.btn {
  border-radius: 9px !important;
  text-transform: capitalize;
}

.btn-close {
  background: url("../images/close.svg") center / 1.5rem no-repeat !important;
}

.btn:focus,
.btn-close:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info,
.btn-light,
.btn-dark,
.btn-link {
  border: none !important;
}

.btn-primary,
.badge-primary,
.bg-primary,
.alert-primary {
  color: #ffffff;
  background-color: var(--sa-color-primary) !important;
}

.btn-secondary,
.badge-secondary,
.bg-secondary,
.alert-secondary {
  color: #ffffff;
  background-color: var(--sa-color-secondary) !important;
}

.btn-success,
.badge-success,
.bg-success,
.alert-success {
  color: #ffffff;
  background-color: var(--sa-color-success) !important;
}

.btn-danger,
.badge-danger,
.bg-danger,
.alert-danger {
  color: #ffffff;
  background-color: var(--sa-color-danger) !important;
}

.btn-warning,
.badge-warning,
.bg-warning,
.alert-warning {
  color: #ffffff !important;
  background-color: var(--sa-color-warning) !important;
}

.btn-info,
.badge-info,
.bg-info,
.alert-info {
  color: #ffffff !important;
  background-color: var(--sa-color-info) !important;
}

.btn-light,
.badge-light,
.bg-light,
.alert-light {
  color: var(--sa-color-black) !important;
  background-color: var(--sa-color-outline-light) !important;
}

.btn-dark,
.badge-dark,
.bg-dark,
.alert-dark {
  color: #ffffff;
  background-color: var(--sa-color-black) !important;
}

.btn-primary:hover {
  background-color: var(--sa-color-primary-hover) !important;
}

.btn-secondary:hover {
  background-color: var(--sa-color-secondary-hover) !important;
}

.btn-success:hover {
  background-color: var(--sa-color-success-hover) !important;
}

.btn-danger:hover {
  background-color: var(--sa-color-danger-hover) !important;
}

.btn-warning:hover {
  background-color: var(--sa-color-warning-hover) !important;
}

.btn-info:hover {
  background-color: var(--sa-color-info-hover) !important;
}

.btn-light:hover {
  background-color: var(--sa-color-light-hover) !important;
}

.btn-dark:hover {
  background-color: var(--sa-color-dark-hover) !important;
}

.btn-link {
  color: var(--sa-color-info) !important;
  text-decoration: none !important;
}

.btn-primary.light,
.badge-primary.light,
.alert-primary.light {
  color: var(--sa-color-primary) !important;
  background-color: var(--sa-bg-color-primary-light) !important;
  border: 0.5px solid var(--sa-bg-color-primary-light);
}

.btn-primary.light:hover {
  border-color: var(--sa-color-primary) !important;
}

.btn-secondary.light,
.badge-secondary.light,
.alert-secondary.light {
  color: var(--sa-color-secondary-light) !important;
  background-color: var(--sa-bg-color-secondary-light) !important;
  border: 0.5px solid var(--sa-color-secondary-light-acc) !important;
}

.btn-secondary.light:hover {
  border-color: var(--sa-color-secondary-light-hover) !important;
}

.btn-success.light,
.badge-success.light,
.alert-success.light {
  color: var(--sa-color-success-light) !important;
  background-color: var(--sa-bg-color-success-light) !important;
  border: 0.5px solid var(--sa-bg-color-success-light) !important;
}

.btn-success.light:hover {
  border-color: var(--sa-color-success-light-hover) !important;
}

.btn-danger.light,
.badge-danger.light,
.alert-danger.light {
  color: var(--sa-color-danger) !important;
  background-color: var(--sa-bg-color-danger-light) !important;
  border: 0.5px solid var(--sa-bg-color-danger-light) !important;
}

.btn-danger.light:hover {
  border-color: var(--sa-color-danger-light-hover) !important;
}

.btn-warning.light,
.badge-warning.light,
.alert-warning.light {
  color: var(--sa-color-warning) !important;
  background-color: var(--sa-bg-color-warning-light) !important;
  border: 0.5px solid var(--sa-bg-color-warning-light) !important;
}

.btn-warning.light:hover {
  border-color: var(--sa-color-warning-light-hover) !important;
}

.btn-info.light,
.badge-info.light,
.alert-info.light {
  color: var(--sa-color-info-light) !important;
  background-color: var(--sa-bg-color-info-light) !important;
  border: 0.5px solid var(--sa-bg-color-info-light) !important;
}

.btn-info.light:hover {
  border-color: var(--sa-color-info) !important;
}

.btn-dark.light,
.badge-dark.light,
.alert-dark.light {
  color: var(--sa-color-black) !important;
  background-color: var(--sa-bg-color-black-light) !important;
  border: 0.5px solid var(--sa-bg-color-black-light) !important;
}

.btn-dark.light:hover {
  border-color: var(--sa-color-black) !important;
}

.btn-light.light,
.badge-light.light,
.alert-light.light { 
  color: var(--sa-color-black) !important;
  background-color: var(--sa-bg-color-light-light) !important;
  border: 0.5px solid var(--sa-border-color) !important;
}

.btn-light.light:hover {
  border-color: var(--sa-color-black) !important;
}

.btn-outline-primary {
  background-color: transparent !important;
  color: var(--sa-color-primary) !important;
  border: 0.5px solid var(--sa-color-primary) !important;
}

.btn-outline-primary:hover {
  background-color: var(--sa-color-primary) !important;
  color: #ffffff !important;
  border: 0.5px solid var(--sa-color-primary) !important;
}

.btn-outline-secondary {
  background-color: transparent !important;
  color: var(--sa-color-secondary-light) !important;
  border: 0.5px solid var(--sa-color-secondary-light) !important;
}

.btn-outline-secondary:hover {
  background-color: var(--sa-color-secondary-light-hover) !important;
  color: #ffffff;
  border: 0.5px solid var(--sa-color-secondary-light-hover) !important;
}

.btn-outline-success {
  background-color: transparent;
  color: var(--sa-color-success-light-hover);
  border: 0.5px solid var(--sa-color-success-light-hover);
}

.btn-outline-success:hover {
  background-color: var(--sa-color-success-light-hover) !important;
  color: #ffffff;
  border: 0.5px solid var(--sa-color-success-light-hover) !important;
}

.btn-outline-danger {
  background-color: transparent;
  color: var(--sa-color-danger-light-hover);
  border: 0.5px solid var(--sa-color-danger-light-hover);
}

.btn-outline-danger:hover {
  background-color: var(--sa-color-danger-light-hover) !important;
  color: #ffffff;
  border: 0.5px solid var(--sa-color-danger-light-hover) !important;
}

.btn-outline-warning {
  background-color: transparent;
  color: var(--sa-color-warning-light-hover);
  border: 0.5px solid var(--sa-color-warning-light-hover);
}

.btn-outline-warning:hover {
  background-color: var(--sa-color-warning-light-hover) !important;
  color: #ffffff;
  border: 0.5px solid var(--sa-color-warning-light-hover) !important;
}

.btn-outline-info {
  background-color: transparent;
  color: var(--sa-color-info);
  border: 0.5px solid var(--sa-color-info);
}

.btn-outline-info:hover {
  background-color: var(--sa-color-info) !important;
  color: #ffffff;
  border: 0.5px solid var(--sa-color-info) !important;
}

.btn-outline-light {
  background-color: transparent;
  color: var(--sa-color-black);
  border: 0.5px solid var(--sa-border-color);
}

.btn-outline-light:hover {
  background-color: var(--sa-color-outline-light) !important;
  color: var(--sa-color-black);
  border: 0.5px solid var(--sa-border-color) !important;
}

.btn-outline-dark {
  background-color: transparent;
  color: var(--sa-color-black);
  border: 0.5px solid var(--sa-color-black);
}

.btn-outline-dark:hover {
  background-color: var(--sa-color-black) !important;
  color: #ffffff;
  border: 0.5px solid var(--sa-color-black) !important;
}

.btn-load-stat {
  text-align: left;
}

.btn-primary.btn-load-stat:hover,
.btn-secondary.btn-load-stat:hover,
.btn-success.btn-load-stat:hover,
.btn-danger.btn-load-stat:hover,
.btn-warning.btn-load-stat:hover,
.btn-info.btn-load-stat:hover,
.btn-light.btn-load-stat:hover,
.btn-dark.btn-load-stat:hover,
.btn-link.btn-load-stat:hover {
  cursor: default;
}

.btn-primary.btn-nohover:hover {
  background-color: var(--sa-color-primary) !important;
}

.btn-secondary.btn-nohover:hover {
  background-color: var(--sa-color-secondary) !important;
}

.btn-success.btn-nohover:hover {
  background-color: var(--sa-color-success) !important;
}

.btn-danger.btn-nohover:hover {
  background-color: var(--sa-color-danger) !important;
}

.btn-warning.btn-nohover:hover {
  background-color: var(--sa-color-warning) !important;
}

.btn-info.btn-nohover:hover {
  background-color: var(--sa-color-info) !important;
}

.btn-light.btn-nohover:hover {
  background-color: var(--sa-color-outline-light) !important;
}

.btn-dark.btn-nohover:hover {
  background-color: var(--sa-color-black) !important;
}

.btn-rounded {
  border-radius: 17px !important;
}

.btn i,
.btn-w-icon i {
  font-size: 20px;
}

.btn-w-icon i {
  margin-right: 0.3rem;
}

.btn-single-icon {
  padding: 6px 10px;
}

.btn-single-icon-rounded {
  padding: 6px 9px !important;
  border-radius: 50% !important;
}

.search-cust {
  & > * {
    gap: 0.5rem;
  }
  i {
    font-size: 14px;
  }

  input {
    height: 30px;

    &::placeholder {
      font-size: 12px;
    }
  }
}

.order-list-items {
  height: calc(100% - 500px);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.5rem;
  overflow-y: scroll;

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 35px;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: #b1b9c5;
  }

  .order-item {
    width: 100%;
    display: inline-flex;
    padding: 1.25rem 0;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #eaeaea;
    position: relative;

    .product-img-wrap {
      width: 61px;
      height: 59.21px;
      border-radius: 17px;
      background-color: #f4f5f9;
      padding: 7px;
    }

    .remove-btn {
      position: absolute;
      padding: 6px;
      right: 0;
      top: .4rem;
      cursor: pointer;
      // background-color: var(--sa-bg-color-danger-light);
    }
  }
}

.order-item .product-img-wrap .product-img {
  // background: url("../images/0acaafaf-ad13-493e-ae07-c31520c99d0c-removebg-preview\ 1.png") no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
}

.order-item .order-detail p {
  &:first-of-type {
    margin-bottom: 5px;
  }

  &:not(:first-of-type) {
    margin-bottom: 0.2rem;
  }
}

.order-item .order-detail {
  width: 43%;
  text-align: left;

  .product-name {
    font-size: 16px;
    font-weight: 600;
    color: #344050;
  }

  .order-notes {
    font-size: 12px;
    font-weight: 600;
    color: #b6b6b6;

    .order-notes-hightlight {
      color: #898989;
    }
  }
}

.order-item .product-price {
  font-size: 12px;
  font-weight: 600;
  color: #344050;
}

.order-qty-btn {
  position: absolute;
  right: 0;
  height: 100%;
  top:50%;
}

.product-qty-wrap {
  position: relative;
}

.order-qty-btn .btn-group,
.product-qty-wrap .btn-group {
  height: 30px !important;
}

.product-qty-wrap .order-qty-btn {
  position: relative;
}

.order-qty-btn .btn-group button:first-of-type,
.product-qty-wrap .btn-group button:first-of-type {
  padding: 0 7px !important;
  border-top-left-radius: 17px !important;
  border-bottom-left-radius: 17px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 0;
  border-width: 1px;
  border-color: #dedede;
  background: #ffffff !important;
}

.order-qty-btn .btn-group button:last-of-type,
.product-qty-wrap .btn-group button:last-of-type {
  padding: 0 7px !important;
  border-top-right-radius: 17px !important;
  border-bottom-right-radius: 17px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-left: 0;
  border-width: 1px;
  border-color: #dedede;
  background: #ffffff !important;
}

.order-qty-btn .btn-group button i,
.product-qty-wrap .btn-group button i {
  font-size: 14px;
  vertical-align: baseline;
}

.order-qty-btn .btn-group input,
.product-qty-wrap .btn-group input {
  min-width: 30px;
  max-width: 38px;
  border-radius: 0 !important;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  border-right: 0;
  border-left: 0;
  padding: 5px;
  font-size: 14px;
  text-align: center;

  &:focus {
    border-top: 1px solid #dedede !important;
    border-bottom: 1px solid #dedede !important;
    border-right: 0 !important;
    border-left: 0 !important;
  }
}

.order-cost-wrap {
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  padding: 1.5rem;
  border: 0 solid transparent;
  box-shadow: 0px -5px 12px 5px rgba(154, 154, 204, 0.1);

  .order-cost-detail {
    padding: 0 0 1rem 0;
    border-bottom: 1px dashed #eaeaea;
  }

  .order-cost-detail .order-cost-items,
  .order-cost-detail .order-cost-addon,
  .order-cost-total {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
  }
}

.order-cost-addon .order-sett {
  color: var(--sa-color-primary);
  padding: 0.2px 3px 0.2px 6px;
  background: transparent;
  cursor: pointer;
}

.order-cost-addon  {
  box-icon {
    cursor: pointer;
  }
}

.order-cost-wrap .order-cost-detail .order-cost-items p,
.order-cost-wrap .order-cost-detail .order-cost-addon .cost-addon-price,
.order-cost-wrap .order-cost-total p {
  text-transform: capitalize;
  color: #344050;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0;
}

.order-cost-wrap .order-cost-detail .order-cost-items p,
.order-cost-wrap .order-cost-detail .order-cost-addon p {
  margin-bottom: 0.3rem;
}

.order-cost-wrap .order-cost-detail .order-cost-items p:first-of-type,
.order-cost-wrap .order-cost-detail .order-cost-addon .cost-addon-text {
  color: #909ba5;
  font-weight: 600;
  font-size: 14px;
}

.order-cost-total {
  padding: 0.8rem 0;
  border-bottom: 1px dashed #eaeaea;
}

.order-cost-wrap .order-cost-total p {
  font-size: 16px;
}

.order-cost-feature {
  padding-top: 0.8rem;
  text-align: left;

  p {
    font-weight: 600;
    color: #344050;
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 0.8rem;
  }

  .payment-btn-wrap {
    margin-bottom: 2rem;

    button {
      font-size: 14px;
      margin-right: 0.5rem;

      i {
        font-size: 14px;
        margin-right: 0.1rem;
      }
    }
  }
}

.submit-order {
  width: 100%;
  display: inline-flex;
  gap: 0.8rem;

  button {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
  }
}

.modal-lg {
  // --bs-modal-width: 700px !important;
}

.modal-body {
  padding: 2rem !important;
}

#productDetailModal .modal-content .modal-body {
  display: inline-flex;
  gap: 2rem;
  padding: 1.5rem 2rem !important;
}

.modal-body .modal-product-img {
  width: 125px;
  height: 115px;
  border-radius: 17px;
  background-color: #f4f5f9;
  padding: 7px;
}

.modal-product-img .product-img {
  background: url("../images/0acaafaf-ad13-493e-ae07-c31520c99d0c-removebg-preview\ 1.png")
    no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
}

.modal-title {
  text-transform: capitalize;
  color: #262626;
  font-size: 18px !important;
  font-weight: 600 !important;
}

#productDetailModal .modal-content .modal-product-data {
  flex-grow: 2;
}

.modal-product-data .modal-title {
  margin-bottom: 0.2rem;
  font-weight: 600;
}

#productDetailModal .modal-product-data .product-data-addon,
#productDetailModal .modal-product-data .product-qty-wrap {
  width: 100% !important;
}

#productDetailModal .modal-product-data .product-qty-wrap input {
  width: 70px;
}

#productDetailModal .modal-product-data .product-data-addon {
  margin-bottom: 0.8rem;
}

.modal-product-data p {
  margin-bottom: 0;
  text-transform: capitalize;
}

.product-data-addon .product-addon-val-wrap button {
  font-size: 14px;
}

.product-data-addon .product-addon-val-wrap button:not(:last-of-type) {
  margin-right: 0.3rem;
}

.product-data-addon p {
  font-size: 14px;
}

.product-qty-wrap p {
  color: #909ba5;
  font-weight: 500;
}

.product-data-addon p {
  color: #344050;
}

.product-data-addon .product-addon {
  text-transform: unset;
  font-weight: 600;
}

.product-stock {
  text-transform: capitalize;
}

.modal-footer button {
  font-weight: 500;
  font-size: 15px;
}

.table-btn-area,
.feature-card {
  display: inline-flex;
  width: 100%;
  gap: 1rem;
}

.feature-card {
  justify-content: space-between;
}

.filter-area {
  width: 70%;
  display: inline-flex;
  gap: 1rem;
  padding: .5rem 0 1rem;
}

table tbody table tr:not(:last-of-type) {
  width: 100%;

  border-bottom: 1px solid #ebf1f6 !important;
}

table tbody tr td table td {
  width: 100%;
  padding: 0.375rem 0;
}

.custom-select-opt {
  position: relative;

  select {
    display: none;
  }

  .same-as-select {
    width: auto;
    height: 38px;
    font-size: 14px;
    padding: 6px 36px 6px 12px;
    border-radius: 7.5px !important;
    border: var(--bs-border-width) solid var(--bs-border-color);
    overflow-y: clip;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23252525'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 16px 12px;
    background-position: center right 1rem;
    cursor: pointer;
    line-height: 1.5;
    color: #344050 !important;
    font-weight: 500;
    text-align: left;
    // vertical-align: middle;

    p {
      margin-bottom: 0;
    }
  }

  .select-items {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 9;
    font-size: 12px;
    line-height: 1.5;
    max-height: 150px;
    overflow-y: auto;
    text-align: left;

    & > *:first-child {
      background-color: #f3f3f3;
    }

    & > * {
      padding: 0.425rem 0.75rem;
      cursor: pointer;

      &:hover {
        /* background-color: #B2E6FF40; */
        /* color: var(--sa-color-primary); */
        background-color: var(--sa-color-primary);
        color: #ffffff;
      }
    }

    &.select-hide {
      display: none;
    }
  }
}

.card-table {
  padding: 2rem;
  overflow-y: hidden;
  // margin-top: 2rem;
}

.user-img {
  display: inline-block;
  border-radius: 50%;
  /* background-color: var(--sa-color-primary); */
  width: 40px;
  height: 40px;
  margin-right: 1rem;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.table {
  margin-bottom: 0;
  font-size: 14px;
  padding: 0.5rem 1rem;

  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border-color: #ebf1f6 !important;
  }

  thead tr th {
    color: #8a8a8a !important;
    opacity: 1;
    text-transform: uppercase;
    font-weight: 700;
    background: #fafafa !important;
  }

  th {
    opacity: 0.75;

    .sort-icon {
      content: url("../images/sort-static.svg");
    }

    &[aria-sort="ascending"] .sort-icon {
      content: url("../images/sort-up.svg");
    }

    &[aria-sort="descending"] .sort-icon {
      content: url("../images/sort-down.svg");
    }
  }

  & > thead {
    position: sticky;
    top: 0;
    text-transform: capitalize;
    color: var(--sa-black-blue);
    height: 3.7rem;
    z-index: 9;
  }

  & > :not(thead) > * > * {
    padding: 1rem 0.5rem;
  }
}

.table thead tr th input[type="checkbox"],
.table tbody tr th input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-top: 0.3rem;
  cursor: pointer;
}

.selected-row-stat {
  display: none;
}

.total-row-selected {
  display: inline;
  margin-bottom: 0;
  margin-right: 0.7rem;
  font-size: 16px;
  font-weight: 700;
  color: #787f86;
}

.form-check-input {
  cursor: pointer;

  &:focus {
    box-shadow: none;
  }
}

.form-switch .form-check-input {
  width: 2.5rem;
  height: 1.3rem;
}

.head-w-icon {
  position: relative;
}

table thead tr th .sort-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.table thead tr th i,
.table tbody tr th i,
.table thead tr th ion-icon,
.table tbody tr th ion-icon {
  font-size: 20px;
  cursor: pointer;
  vertical-align: middle;
}

.table thead tr th ion-icon[name="checkbox"],
.table tbody tr th ion-icon[name="checkbox"] {
  color: var(--sa-color-primary);
}

.table thead tr th ion-icon[name="checkbox-outline"],
.table tbody tr th ion-icon[name="checkbox-outline"] {
  color: var(--sa-form-focus);
}

.table thead tr,
.table tbody tr {
  vertical-align: middle;
}

.col-align-center {
  text-align: center;
}

.edit-table-data,
.del-table-data {
  padding: 12px;
  border-radius: 7px;
  cursor: pointer;
}

.edit-table-data {
  background-color: var(--sa-bg-color-primary-light);
  margin-right: 0.7rem;
  border: 1px solid var(--sa-bg-color-primary-light);

  &:hover {
    border: 1px solid var(--sa-color-primary);
  }

  i {
    font-size: 18px;
    color: var(--sa-color-info);
  }
}

.del-table-data {
  background-color: var(--sa-bg-color-danger-light);
  border: 1px solid var(--sa-bg-color-danger-light);

  &:hover {
    border: 1px solid var(--sa-color-danger);
  }

  i {
    font-size: 18px;
    color: var(--sa-bg-red-icon);
  }
}

.pagination-table > thead {
  height: -4rem;
}

.table>:not(caption)>*>*:not(:first-child) {
      /* min-width: 13rem; */
      width: fit-content !important;
}

.table:not([data-table-checkbox="true"]) > :not(caption) > * > * {
  // min-width: 13rem;
}

.table>:not(caption)>*>* {
  padding: 15px !important;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 16px 10px;
}

.table-data-capt {
  font-size: 12px;
  font-weight: 600;
  color: var(--sa-color-primary);
}

.table-end {
  padding: 1.5rem 0 0 0;
}

.head-w-icon {
  position: relative;
}

#noDataIllust {
  width: 35%;
  height: 320px;
  margin: 0.5rem auto;
}

#noDataIllust img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

table[data-table-sort="true"] thead th {
  cursor: pointer;
}

.table-responsive {
  &::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: #dbf3ff;
    background-clip: content-box;
    border-radius: 10px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: var(--sa-color-primary);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-track-piece:end {
    background: var(--sa-color-outline-light);
    margin-bottom: 2rem;
  }

  &::-webkit-scrollbar-track-piece:start {
    background: var(--sa-color-outline-light);
    margin-top: 3.7rem;
  }
}

.checkbox-primary:checked,
.radio-primary:checked,
.switch-primary:checked {
  background-color: var(--sa-color-primary);
  border-color: var(--sa-color-primary);
}

.checkbox-primary:checked:focus,
.radio-primary:checked:focus,
.switch-primary:checked:focus {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--sa-color-primary);
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--sa-color-primary);
}

.checkbox-secondary:checked,
.radio-secondary:checked,
.switch-secondary:checked {
  background-color: var(--sa-color-secondary);
  border-color: var(--sa-color-secondary);
}

.checkbox-secondary:checked:focus,
.radio-secondary:checked:focus,
.switch-secondary:checked:focus {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--sa-color-secondary);
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--sa-color-secondary);
}

.checkbox-success:checked,
.radio-success:checked,
.switch-success:checked {
  background-color: var(--sa-color-success);
  border-color: var(--sa-color-success);
}

.checkbox-success:checked:focus,
.radio-success:checked:focus,
.switch-success:checked:focus {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--sa-color-success);
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--sa-color-success);
}

.checkbox-danger:checked,
.radio-danger:checked,
.switch-danger:checked {
  background-color: var(--sa-color-danger);
  border-color: var(--sa-color-danger);
}

.checkbox-danger:checked:focus,
.radio-danger:checked:focus,
.switch-danger:checked:focus {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--sa-color-danger);
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--sa-color-danger);
}

.checkbox-warning:checked,
.radio-warning:checked,
.switch-warning:checked {
  background-color: var(--sa-color-warning);
  border-color: var(--sa-color-warning);
}

.checkbox-warning:checked:focus,
.radio-warning:checked:focus,
.switch-warning:checked:focus {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--sa-color-warning);
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--sa-color-warning);
}

.checkbox-dark:checked,
.radio-dark:checked,
.switch-dark:checked {
  background-color: var(--sa-color-black);
  border-color: var(--sa-color-black);
}

.checkbox-dark:checked:focus,
.radio-dark:checked:focus,
.switch-dark:checked:focus {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--sa-color-black);
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--sa-color-black);
}

.checkbox-info:checked,
.radio-info:checked,
.switch-info:checked {
  background-color: var(--sa-color-info);
  border-color: var(--sa-color-info);
}

.checkbox-info:checked:focus,
.radio-info:checked:focus,
.switch-info:checked:focus {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--sa-color-info);
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--sa-color-info);
}

.basic-tabs {
  position: relative;

  .tabs-sm {
    min-height: 24px;

    & > * {
      width: 120px;
      padding: 0.5rem 1.2rem;
      vertical-align: middle;
    }

    i {
      font-size: 16px;
      vertical-align: text-bottom;
    }
  }

  .tabs > * {
    width: 190px;
    padding: 0rem 1.5rem;
  }

  .tabs > *,
  .tabs-sm > * {
    background-color: var(--sa-color-primary);
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border: 0 solid transparent;
    cursor: pointer;
    align-content: center;
    color: #ffffff;
  }

  .tabs,
  .tabs-sm {
    width: 100%;
    display: flex;
    gap: 1rem;
  }
}

.basic-tabs .tabs .tab-indicator:not(.active),
.basic-tabs .tabs-sm .tab-indicator:not(.active) {
  box-shadow: 1px 1px 23px rgba(46, 183, 247, 0.588);
  /* box-shadow: 0px 1px 10px 3px rgba(154, 154, 204, .1); */
}

.basic-tabs .tab-indicator .tab-title {
  // vertical-align: text-top;
  display: inline-flex;
  height: 100%;
  gap: 0.3rem;
  align-items: center;
}

.basic-tabs .tab-title {
  text-transform: capitalize;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0;
}

.basic-tabs .tabs .tab-indicator.active,
.basic-tabs .tabs-sm .tab-indicator.active {
  background-color: #ffffff;
  border: 0 solid transparent;
  box-shadow: 1px 1px 23px rgb(106 106 147 / 10%);
}

.basic-tabs .tabs .tab-indicator.active .tab-title,
.basic-tabs .tabs-sm .tab-indicator.active .tab-title {
  color: #344050;
}

.tabs-content {
  display: none;

  .card {
    border-radius: unset;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
  }
}

.add-prod-area {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 5rem;
  text-transform: capitalize;
}

.add-prod-detail-wrap {
  width: 100%;
  align-content: start;
  gap: 5rem;

  & > * {
    gap: 1.5rem;

    & > * > label {
      width: 25%;
    }

    & > *:not(.form-check-control) {
      gap: 2rem;
    }
  }

  .form-check-control {
    width: 100%;
    text-align: left;

    .form-check:not(:last-of-type) {
      margin-right: 2rem;
    }
  }
}

.add-prod-detail-wrap > * > * > input,
.add-prod-detail-wrap > * > * > .custom-select-opt,
.add-prod-detail-wrap > * > * > .form-check-input {
  width: 100%;
}

.dropzone-file {
  width: 200px;
  height: 200px;
  border-radius: 17px;
  border: 2.5px dashed var(--sa-color-primary);
  padding: 1.2rem;
  position: relative;

  .preview-area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  &:hover {
    background-color: var(--sa-bg-color-primary-light);
  }

  i {
    font-size: 48px;
    color: var(--sa-color-primary);
    margin-bottom: 0.5rem;
  }

  .file-info {
    font-size: 14px;
  }

  input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    color: transparent;
  }

  .preview-area img {
    width: 100%;
    height: 100%;
  }
}

#addProdTab .wrapping-table-btn {
  position: relative;
  text-align: right;
  margin-top: 3rem;
}

.nested-h-form {
  .nested-h-form-wrap {
    display: flex;
    width: 100%;
    gap: 2rem;
    flex-wrap: nowrap;

    .nested-h-form-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      flex-wrap: wrap;
      align-content: flex-start;

      label {
        width: 100%;
      }
    }

    button {
      align-self: flex-end;
    }
  }
}

button i {
  vertical-align: middle;
}

.modal-header {
  border-bottom: 0 !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  padding: 1rem 2rem !important;
  background-color: #FAFAFA;
}

.modal-content {
  border-radius: 10px !important;
}

.modal-footer {
  border-top: 0 !important;
}

#productVarModal .modal-body {
  padding: 0 !important;
}

.modal-body .lists {
  width: 100%;
  height: 100%;

  .list-item {
    height: 90px;
    padding: 1rem 2rem;
    cursor: pointer;

    &:hover {
      background-color: #f7f8fa;
    }

    & > * {
      margin-bottom: 0;
    }

    .item-name {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0.3rem;
      color: #344050;
    }

    .item-price {
      font-size: 14px;
      font-weight: 500;
      color: #909ba5;
    }
  }
}

label {
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  color: #344050 !important;
}

.currency {
  margin-right: 0.2rem;
}

.mobile-list-wrap {
  // display: none;
  width: 100%;
  min-height: fit-content;
  max-height: 500px;

}

.mobile-list {
  display: flex;
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  flex-direction: column;
}

.mobile-list .list-item {
  width: 100%;
  min-height: 80px;
  padding: 1rem;
  background-color: #f8f9fd;
  box-shadow: 1px 1px 7px rgba(154, 154, 204, 0.1);
  border-radius: 9px;
  border: .5px solid #f1f8fb;
  position: relative;
}

.adv-lists.mh-116 .list-item {
  width: 100%;
  min-height: 140px;
  position: relative;
}

#salesCompleteLists .list-item,
#salesReturnLists .list-item,
#salesListsCancel .list-item {
  width: 100%;
  min-height: 100px;
}

.mobile-list .list-item .modal-area {
  width: 90%;
  cursor: pointer;
}

#custLists .list-item .modal-area,
#prodLists .list-item .modal-area {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}

.modal-area .item-detail {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: .3rem;
}

.list-item .list-img,
.list-item .prod-list-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #CDE5FF;
}

.list-item .list-img-adv {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #CDE5FF;
}

.list-item .prod-list-img {
  padding: .45rem;
}

.list-item .list-img img,
.list-item .prod-list-img img,
.list-item .list-img-adv img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.list-item .list-content .list-title {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: .3rem;
}

.list-item .list-content .list-sub-title {
  font-size: 14px;
}

.item-detail-bottom {
  width: 100%;
  position: absolute;
  border-top: 1px solid #92929240;
  padding-top: .5rem;
  margin-top: .5rem;
  left: 0;
}

.item-detail-bottom .item-detail-wrap {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  padding: 0 1rem;
}

.list-item .list-content .list-sub-title,
.item-detail-bottom .detail-sales,
.item-detail-bottom .detail-value {
  color: #7d8086;
  margin-bottom: 0;
}

.item-detail-bottom .detail-sales,
.item-detail-bottom .detail-value {
  font-size: 15px;
}

.list-item .list-badge {
  width: fit-content;
  border-radius: 5px;
  padding: 3px 7px;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.adv-lists .list-item,
#salesCompleteLists .list-item,
#salesReturnLists .list-item,
#salesListsCancel .list-item {
  position: relative;
}

.adv-lists .list-badge,
#salesCompleteLists .list-badge,
#salesListsCancel .list-badge,
#salesReturnLists .list-badge {
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  padding: 3px 7px;
  position: absolute;
  right: 1rem;
  top: 2.25rem;
}

.list-item .list-badge.primary {
  /* border: 1px solid #42C0FB; */
  background-color: #e8f6fd;
}

.list-item .list-badge.danger {
  /* border: 1px solid var(--sa-color-danger); */
  background-color: var(--sa-bg-color-danger-light);
}

.list-item .list-badge.secondary {
  background-color: var(--sa-bg-color-secondary-light) !important;
  /* border: .5px solid var(--sa-color-secondary-light-acc); */
}

.list-item .list-badge.success {
  background-color: var(--sa-bg-color-success-light) !important;
}

.list-item .list-badge.warning {
  background-color: var(--sa-bg-color-warning-light) !important;
}

.list-item .list-badge p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
}

.list-item .list-badge.primary p {
  color: var(--sa-color-primary);
}

.list-item .list-badge.danger p {
  color: var(--sa-color-danger);
}

.list-item .list-badge.secondary p {
  color: var(--sa-color-secondary-light);
}

.list-item .list-badge.success p {
  color: var(--sa-color-success-light);
}

.list-item .list-badge.warning p {
  color: var(--sa-color-warning);
}

.list-item .more-opt {
  position: absolute;
  right: 0;
  top: -.25rem;
  color: #344050;
  padding: .5rem 1rem;
  cursor: pointer;
}

.dropdown-menu {
  border-radius: 7.5px !important;
  font-size: 14px !important;
  box-shadow: 0px 1px 10px 10px rgba(154, 154, 204, .1);
}

.dropdown-menu li a {
  color: #252525 !important;
}

.dropdown-menu .dropdown-item {
  text-transform: capitalize;
}

.list-item .dropdown-menu {
  transform: translate3d(0px, 25px, 0px) !important;
}

.list-item .dropdown-menu li {
  padding: .3rem .2rem;
}

.list-item .dropdown-menu .dropdown-item {
  font-size: 12px;
}

.list-item .dropdown-menu .dropdown-item i {
  font-size: 16px;
  margin-right: .5rem;
}

.wrapping-table-btn>:first-child {
  margin-right: .5rem;
}

.wrapping-table-btn {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  gap: .7rem;
}

box-icon {
  vertical-align: text-top;
}


.modal .modal-section-title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
  color: #344050;
}

.modal .modal-section-title {
  margin-bottom: 0;
}


.modal-table-wrap {
  width: 100%;
  padding: 1rem;
  background-color: #F4FBFE;
  border-radius: 10px;
}


.invoice-header,
.invoice-content,
.invoice-amount {
    display: flex;
}

.invoice-header {
    width: 100%;
}

.invoice-header {
    justify-content: space-between;

}

.invoice-header {
    border-bottom: 1px solid rgba(146, 146, 146, 25%);
}


.invoice-amount {
    gap: 10px;
}

.invoice-detail .invoice-info-group>*:first-of-type,
.company-profile>*,
.invoice-content .invoice-info-group>*,
.card-amount .invoice-info-group>* {
    text-transform: capitalize;
    margin-bottom: 0;
}

.invoice-detail .invoice-info-group>*:not(:first-of-type),
.invoice-content .invoice-info-group>*:not(:first-of-type) {
    margin-bottom: 1.7rem;
}

/* .invoice-content .invoice-info-group>*:first-of-type, */
.card-amount .invoice-info-group>*:first-of-type {
    margin-bottom: .3rem;
}

.invoice-detail .invoice-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 27px
}

.invoice-detail .invoice-info-group .label-text,
.company-detail .company-profile .label-text,
.invoice-content .invoice-info-group .label-text {
    color: #929292;
    font-weight: 500;
    font-size: 16px;
}

.invoice-detail .invoice-info-group .invoice-text,
.invoice-content .invoice-info-group .invoice-text {
    color: #344050;
    font-weight: 600;
    font-size: 16px;
}

.company-detail .company-img {
    width: 110px;
    height: 110px;
    margin-top: -.8rem;
    margin-bottom: .5rem;
}

.company-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.invoice-content {
    padding-top: 26px;
    padding-bottom: 26px;
    align-content: center;
}

.invoice-amount .card-amount {
    width: 220px;
    height: 120px;
    background-color: #F5F6F9;
    text-align: center;
    padding: 2rem 0;
}

.invoice-amount .card-amount:last-of-type {
    background-color: #42C0FB;
}

.invoice-amount .card-amount .invoice-info-group>* {
    font-weight: 600;
}

.invoice-amount .card-amount:last-of-type .invoice-info-group>* {
    color: #FFFFFF;

}

.invoice-transaction,
.invoice-payment {
    width: 100%;
    margin-bottom: 4rem;
}

.invoice-transaction .table thead,
.invoice-payment .table thead {
    position: static;
}
#invoiceDetailModal .table {
  margin-bottom: 0 !important;
}

#invoiceDetailModal .invoice-transaction .table thead tr th:first-of-type,
#invoiceDetailModal .invoice-transaction .table tbody tr:first-of-type td:first-of-type,
#invoiceDetailModal .invoice-payment .table thead tr th:first-of-type,
#invoiceDetailModal .invoice-payment .table tbody tr td:first-of-type,
#payslipDetailModal .invoice-transaction .table thead tr th,
#payslipDetailModal .invoice-transaction .table tbody tr td {
    padding-left: 2rem;
}

#invoiceDetailModal .invoice-transaction .table thead tr th:last-of-type,
#invoiceDetailModal .invoice-transaction .table tbody tr:last-of-type td:last-of-type,
#invoiceDetailModal .invoice-payment .table thead tr th:last-of-type,
#invoiceDetailModal .invoice-payment .table tbody tr td:last-of-type {
    padding-right: 2rem;
}

#invoiceDetailModal .invoice-content {
    justify-content: space-between;
}

.inv-table-title,
.invoice-transaction .table thead tr th,
.invoice-payment .table thead tr th {
    font-weight: 600;
    color: #262626 !important;
    font-size: 16px;
    text-transform: capitalize;
}


#invoiceDetailModal .invoice-transaction .table tbody tr:first-of-type td:first-of-type {
    font-weight: 700;
}

.invoice-transaction .table thead tr th,
.invoice-payment .table thead tr th {
    background-color: #F5F6F9 !important;
}

.each-total-title,
.each-total-text {
    font-weight: 600;
    text-transform: capitalize;
}

tr.grand-total>* {
    border: unset;
    font-size: 16px;
}

tr.grand-total>.each-total-text {
    color: #42C0FB !important;

}

tr.grand-total>*:not(:first-child) {
    background-color: #F5F6F9;

}

.invoice-transaction .table>:not(caption)>*>*,
.invoice-payment .table>:not(caption)>*>* {
    min-width: 10rem;
}

#delivReportEdit .invoice-transaction .table>:not(caption)>*>* {
    min-width: 0;
}

.invoice-footer {
    width: 100%;
    height: 55px;
    background-color: #42C0FB;
    padding: 1rem;
    margin-top: 9rem;
}

.invoice-footer p {
    margin-bottom: 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}

.table .dropdown-menu {
    box-shadow: 0px 10px 7px rgba(154, 154, 204, .1);
}

.table .dropdown-menu .dropdown-item {
    font-size: 14px;
    text-transform: capitalize;
    padding: .5rem .9375rem;
    color: #233b46;
}

.table .dropdown-menu .dropdown-item:hover {
    background-color: #E8F6FD;
}

.table .dropdown-menu .dropdown-item i {
    font-size: 14px;
    margin-right: .5rem;
}

.invoice-btn-mobile {
  display: block;
}

.invoice-btn-wrap,
.invoice-btn-mobile {
    position: absolute !important;
}

.invoice-btn-wrap {
    right: 4.7rem;
}

.invoice-btn-mobile {
    right: 4rem;
}

.invoice-btn-wrap .invoice-btn {
    right: 4.7rem;
    padding: 6px 9px;
    border: .5px solid var(--sa-border-color);
    border-radius: 5px;
}

.invoice-btn-mobile .invoice-btn {
    padding: 1.25px 9px;
    border: none;
}

.invoice-btn-mobile .invoice-btn i {
    font-size: 14px;
}

.invoice-btn-wrap .invoice-btn,
.invoice-btn-mobile .invoice-btn {
    background-color: var(--sa-bg-color-light-light);
    color: var(--sa-color-black);
    margin-left: .3rem;
}

.invoice-btn-wrap .invoice-btn:hover {
    border-color: var(--sa-color-black);
}

.invoice-btn-wrap .invoice-btn:first-of-type {
    color: var(--sa-color-danger);
}

.table td .view-note {
    margin-bottom: 0;
    font-weight: 600;
    color: var(--sa-color-primary);
    cursor: pointer;
}

#delivReportModal .invoice-header,
#delivReportModal .invoice-content,
#delivReportModal .inv-table-title,
#delivReportEdit .invoice-header,
#delivReportEdit .invoice-content,
#delivReportEdit .inv-table-title,
#viewSalesReport .invoice-header,
#viewSalesReport .invoice-content,
#viewSalesReport .inv-table-title {
    padding-left: 0;
    padding-right: 0;
}

td .btn-group {
  width: 120px;
  height: 35px;
}

td .btn-group button {
  padding: 7px 8px;
}

td .btn-group button i {
  font-size: 14px;
  height: 100%;
}

.endnote-row>*:nth-child(2) {
  font-weight: 600;
}

.endnote-row .endnote-row-title {
  text-align: right;
  text-transform: capitalize;
}

.endnote-row-action {
  text-align: left;
  margin-left: 2rem;
}

#invoiceDetailModal .modal-body,
#payslipDetailModal .modal-body,
#custDetailModal .modal-body,
#empDetailModal .modal-body {
  padding: 2rem;
}

#custDetailModal .invoice-amount,
#empDetailModal .invoice-amount {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.add-cart-price {
  position: absolute;
  right: 2rem;
  font-size: 18px;
  font-weight: 600;
}

.order-item .order-detail .product-name {
  text-transform: capitalize;
}


/* responsive */
@media (min-width: 320px) and (max-width: 480px) {
  .pos-sidebar {
    margin-left: -100px;
    width: 100px;
    padding: 2rem 0;

    &.active {
      margin-left: 0;
    }

    .menu-container {
      padding: 0 0.75rem;
    }
  }

  .menus-wrapper li {
    padding: 0.8rem 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.15rem;

    i {
      font-size: 24px;
      padding-bottom: 0;
    }

    .menu-label {
      font-size: 12px;
    }
    
  }

  .pos-content {
    width: 100%;
    margin-left: 0;
    padding: 1.5rem 1.5rem;

    &.active {
      margin-left: 100px;
      width: calc(100% - 100px);
    }

    .navbar {
      justify-content: space-between;

      .input-group-right {
        width: 100%;
      }

      .navbar-icon {
        display: block;
      }
    }
  }

  .searchbox {
    display: none;
  }

  .search-mobile {
    display: block;
  }

  .content-wrapper {
    overflow-x: hidden;
    padding: 0.8rem 0;

    .categories-list {
      overflow-x: scroll;
    }

    .categories-btn-control {
      transform: translate(0, -115px);
    }
  }

  .btn-single-icon-rounded {
    padding: 3px 5px;
  }

  .product-row {
    width: 100%;
    gap: 0;
  }

  .section-title {
    margin-bottom: 1.15rem;
  }

  .section-title,
  .category-detail .category-title {
    font-size: 14px;
  }

  .products-content .card {
    width: 100%;
    /* height: 100px; */
  }

  .card:not(.welcome-card) {
    padding: 32px 17px 32px 17px;
  }

  .card .card-title {
    font-size: 14px;
  }

  .card .card-text {
    font-size: 12px;
  }

  .card-img-container {
    padding: 0;
    height: 135px;
  }

  .card-body {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .products-content {
    width: 100%;
  }

  .basic-tabs .tabs-sm .tab-title {
    font-size: 12px;
    // vertical-align: middle;
  }

  #productDetailModal .modal-content .modal-body {
    gap: 1.5rem;
    padding: 1.5rem 1rem !important;
  }

  .modal-body .modal-product-img {
    width: 150px;
    height: 105px;
    padding: 5px;
  }

  .modal-title {
    font-size: 14px !important;
  }

  .product-data-addon p,
  .modal-footer button,
  .product-data-addon .product-addon-val-wrap button,
  .modal-product-data .modal-title,
  .modal-product-data .product-stock {
    font-size: 12px;
  }

  .product-data-addon p {
    font-size: 12px;
  }

  .product-qty-wrap .btn-group button {
    padding: 1.5px 7px !important;
  }

  .modal-body .lists .list-item {
    height: 85px;
    padding: 1rem 1rem;

    .item-name {
      font-size: 14px;
    }

    .item-price {
      font-size: 12px;
    }
  }

  .modal-body .modal-product-img {
    width: 110px;
    height: 110px;
  }

  label,
  .payment-btn-wrap button {
    font-size: 13px !important;
  }

  .order-card-wrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .card {
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
      z-index: 9;
    }

    .mobile-btn {
      display: inline-flex;
    }
  }

  .order-list-items {
    height: calc(100% - 470px);
  }

  .order-item .order-detail .product-name,
    // .order-cost-wrap .order-cost-total p,
    .order-cost-wrap .order-cost-detail .order-cost-items p,
    .order-cost-feature p {
    font-size: 12px;
  }

  .order-cost-wrap .order-cost-total p {
    font-size: 15px;
  }

  .order-cost-wrap {
    padding: 1rem 1.5rem;
  }

  .order-cost-feature .payment-btn-wrap {
    margin-bottom: 1.25rem;
  }

  .input-group-w-text,
  input {
    font-size: 14px !important;
  }

  .wrapping-table-btn {
    gap: .7rem;
    justify-content: flex-end;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }

  .wrapping-table-btn button {
      font-size: 12px;
  }

  .wrapping-table-btn button i {
      font-size: 14px;
  }

  .filter-area {
      width: 100%;
      display: flex;
      flex-direction: column;
  }

  .lists-content {
    width: 100%;
  }

  .list-item .list-img-adv {
    width: 35px;
    height: 35px;
  }

  .list-item .list-badge p {
    font-size: 9px;
  }

  .adv-lists.mh-116 .list-item {
    min-height: 116px;
  }

  .list-item .list-content .list-title {
    font-size: 14px;
  }

  .list-item .list-content .list-sub-title {
    font-size: 12px;
  }

  .item-detail-bottom .detail-sales,
  .item-detail-bottom .detail-value {
    font-size: 10px;
  }

  .dropdown-menu {
    min-width: 7.5rem !important;
}

  .dropdown-menu .dropdown-item {
      font-size: 12px !important;

      box-icon {
        vertical-align: sub;
      }
  }
}
